fieldset {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid CCCCCC;
}

fieldset legend span .top_text {
    text-align: left;
}

.collapseButton {
    width: 5px; 
    font-size: 70%;
    border: 1px solid CCCCCC;
    padding-left: 3px;
    padding-right: 2px;
    margin-right: 4px;
    cursor: default;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    padding-top: 110px;
}

.topTable {
    position: fixed;
    top: 0px;
}

.sumHoursContainer {
    text-align: right;
    padding-right: 10px;
}

.topTableSecond {
    position: fixed;
    top: 60px;
    background-color: rgb(235, 235, 235);
    border-bottom: solid 1px black;
}

.toggledSection {
    background-color: #eeeeee;
}

.toggledSection:hover {
    background-color: rgb(215, 227, 236);
}